/* body,
html,
#root {
  height: 100%;
} */

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 999px;
  opacity: 0.5;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 1;
  background: #888;
}
